$blue: #4C62AD;
// $blue: #334170;
$black: black;
$white: white;

.nav {
    height: 50px;
    width: 100%;
    background-color: $blue;
    border: $blue;
    position: fixed;
    z-index: 50;
    display: flex;
    align-items: center;

    .logo {
        position: absolute;
        left: 60px;

        img {
            width: 40px;
        }
    }

    .profile {
        position: absolute;
        padding: 5px 20px 0 0;
        right: 0;
        top: 0;

        img {
            width: 40px;
            height: 40px;
            cursor: pointer;
        }

        img:hover {
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
            opacity: 0.6;
        }
    }

    .burger {
        width: 35px;
        height: 35px;
        margin-left: 11px;
        align-items: center;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        // background-color: $white;

        .checkbox {
            opacity: 0;
            width: 45px;
            height: 45px;
            z-index: 100;
            cursor: pointer;
        }

        .box, .trigger, .trigger::before, .trigger::after {
            position: absolute;
            top: 5px;
            left: 0;
            width: 35px;
            height: 3px;
            border-radius: 5px;
            background: $white;
            transition: .2s ease;
        }

        .box {
            height: 25px;
            background: none;
        }

        .trigger::before {
            content: ' ';
            top: 10px;
        }

        .trigger::after {
            content: ' ';
            top: 20px;
        }

        .checkbox:checked + .box + .trigger {
            transform: rotate(180deg);
            transition: transform .2s ease;
            top: 16px;
        }

        .checkbox:checked + .box + .trigger::before {
            top: -6px;
            left: 17.6px;
            width: 20px;
            transform: rotate(45deg);
            transition: transform .2s ease;
        }

        .checkbox:checked + .box + .trigger::after {
            top: 6px;
            left: 17.6px;
            width: 20px;
            transform: rotate(-45deg);
            transition: transform .2s ease;
        }
    }

}


.menu {
    position: fixed;
    width: 30vh;
    height: 100vh;
    top: 25px;
    left: 0;
    z-index: 50;
    background-color: $blue;
    border: $blue;
    transform: translateX(-100%);
    transition: all 0.5s;

    &.active {
        transform: translateX(100%);
    }

    .content {
        margin-left: -87px;
        //  margin-top: 10px;
        margin-top: 9px;
        width: 35vh;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.7s;

        .login {
            position: absolute;
            bottom: 60px;

            ol:hover {
                color: $white;
            }
        }
    }

    .menu-mini {
        position: fixed;
        background-color: $blue;
        width: 60px;
        height: 100%;
        top: 25px;
        // left: 0;
        // margin-left: 237px;
        margin-left: 29.9vh;
    }

    .content-mini {
        margin-top: 10px;
        width: 40px;
        height: 100vh;
        flex-direction: column;
        align-items: center;

        .login {
            position: absolute;
            bottom: 50px;

            ol:hover {
                color: $white;
            }
        }
    }

    .icons-mini {
        margin-left: 20px;
        color: $white;
        width: 30px;
        height: 30px;
        margin-bottom: 15px;
        cursor: pointer;
        opacity: 1;
        user-select: none;
    }

    .icons-mini:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0.6;
    }

    ul ol a {
        color: $white;
        text-decoration: none;
        font-size: 1.1rem;
    }

    ul ol {
        display: flex;
        margin: 15px;
    }

    ul {
        margin-left: 15px;
        text-align:left;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
    }

    ol {
        cursor: pointer;
        display: block;
        opacity: 1;
        user-select: none;
    }

    ol:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0.6;
    }

    a {
        display: flex;
        align-items: center;
    }

    .icons {
        margin-left: 5px;
        color: $white;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        opacity: 1;
    }
}

@media screen and (max-width: 800px){
    .menu {
        width: 100%;

        // a {
        //     font-size: 10rem;
        // }
        
    }
}