$darkblue: #334170;
$blue: #37598c;
$greyblue: #d5e2ff;
$white: white;

.info-page {
  padding-left: 60px;
  padding-top: 50px;
  background-color: $greyblue;
  height: 100vh;

  .header {
    h2 {
      color: $darkblue;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .accord {
    height: auto;
    width: 90vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: $darkblue;

    .item {
      color: $darkblue;

      a {
        color: $darkblue;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .info-page {
    padding-left: 0;
  }
}
