$darkblue: #334170;
$blue: #37598c;
$greyblue: #d5e2ff;
$white: white;

.info-page {
    padding-left: 60px;
    padding-top: 50px;
    background-color: $greyblue;
    height: 100vh;
    // height: auto;

    .form {
        padding: 10px 5px 10px 5px;
    }
}

@media screen and (max-width:800px) {
    .info-page {
        padding-left: 0;
    }
}