$darkblue: #334170;
$blue: #37598c;
$greyblue: #d5e2ff;
$white: white;

.profile-page {
  overflow: hidden;
  padding-left: 60px;
  padding-top: 50px;
  background-color: $greyblue;
  height: 100vh;
}

@media screen and (max-width: 800px) {
  .profile-page {
    padding-left: 0;
  }
}
