$darkblue: #334170;
$blue: #37598c;
$greyblue: #d5e2ff;
$white: white;

.work-page {
  // overflow: hidden;
  padding-left: 60px;
  padding-top: 50px;
  background-color: $greyblue;
  // background-color: #C1C8E4;
  height: auto;
  padding-bottom: 20px;
  overflow: hidden;

  .list {
    margin-top: 20px;
    .noworks {
      color: $darkblue;
      font-weight: 500;
      width: 60%;
      font-size: 16px;
    }
    .button {
      width: auto;
      color: $white;
      border: none;
      border-radius: 15px;
      background-color: $darkblue;
      display: block;
      margin-top: 5px;
    }
    ul {
      .card {
        // width: 50vw;
        // height: auto;
        // margin-top: 20px;
        // border-radius: 5px;

        // display: flex;
        // justify-content: center;
        // align-items: flex-start;

        // img {
        //   width: 150px;
        //   height: auto;
        //   border-radius: 10px;
        //   cursor: pointer;

        //   display: block;
        //   margin-left: auto;
        //   margin-right: auto;
        // }

        .container {
          height: auto;

          .row {
            justify-content: space-between;
          }

          .title {
            color: $darkblue;
            text-decoration: none;
            margin-left: 30px;
            cursor: pointer;
          }

          ul.description {
            color: $blue;
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin: 0;
            padding: 0;
            ul.list {
              display: flex;
              flex-wrap: wrap;
              gap: 5px;
              margin: 0;
              a:not(:last-child)::after {
                content: ",";
              }
            }
          }
        }
      }
    }
  }

  .sort {
    margin-top: 20px;
    margin-right: 20px;
    .card {
      width: auto;
      height: auto;
      border-radius: 5px;
      display: block;
      margin-left: auto;
      margin-right: auto;

      .title {
        color: $darkblue;
      }

      .form {
        .line {
          padding-bottom: 20px;
        }

        .button {
          width: auto;
          color: $white;
          border: none;
          border-radius: 15px;
          background-color: $darkblue;
          display: block;
          margin-top: 5px;
        }

        .buttontwo {
          width: auto;
          color: $white;
          border: none;
          border-radius: 15px;
          background-color: #f76c6c;
          display: block;
          margin-top: 5px;
        }
      }
    }
  }

  .workone {
    .card {
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 90vw;
      height: auto;
      border-radius: 5px;

      img {
        width: 100px;
        height: auto;
        border-radius: 10px;
      }

      .container {
        align-items: flex-start;

        .title {
          color: $darkblue;
          text-decoration: none;
          margin-left: 30px;
        }

        ul.description {
          color: $blue;
          display: flex;
          flex-direction: column;
          gap: 5px;
          margin: 0;
          padding: 0;
          ul.list {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            margin: 0;
            a:not(:last-child)::after {
              content: ",";
            }
          }
        }
      }
    }

    .part {
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        padding: 0;

        .heading {
          background-color: $white;
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 20px;

          .text {
            width: 60%;
          }
        }
        .card {
          background-color: $white;
          border: none;
          border-radius: 5px;
          width: 90vw;
          height: auto;

          .container {
            display: block;
            align-items: flex-start;
            ul {
              .title {
              }
            }
          }
        }
      }
    }
  }
  .comment-section {
    .card {
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 90vw;
      height: auto;
      border-radius: 5px;

      .button {
        width: auto;
        color: $white;
        border: none;
        border-radius: 15px;
        background-color: $darkblue;
        display: block;
        margin-top: 5px;
      }

      ul {
        padding: 0;
      }
    }

    .ql-editor {
      min-height: 25vh;
    }

    .comment-card {
      width: 100%;

      .card-header {
        display: flex;
        justify-content: space-between;

        & > p {
          margin: 0;
        }
      }

      .card-body {
        & > p {
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .work-page {
    padding-left: 0;
    .list {
      ul {
        .card {
          height: auto;
        }
      }
    }

    .workone {
      .part {
        padding-left: 0;
      }
    }
  }
}
